* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    background-color: #000;
    font-family: 'Montserrat', sans-serif;
}

section {
    width: 90%;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

section[id="home"] {
    flex-direction: row;
}

h1 {
    font-size: 56px;
}

h2 {
    font-size: 40px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    margin: 32px;
}

.btn {
    height: 48px;
    display: inline-block;
    padding: 14.25px 16px;
    color: #fff;
    background-color: #ccc;
    border-radius: 4px;
    margin-top: 24px;
}

.btn:hover {
    text-decoration: none;
}

.btn-primary {
    background-color: #4169e1;
}

.btn-primary:hover {
    background-color: #4b70dd;
}

@media screen and (max-width: 1119px) {
    section[id="home"] {
        flex-direction: column;
    }

    section {
        height: auto;
        padding: 48px 0;
        text-align: center;
    }

    video {
        margin-top: 32px;
    }
}

@media screen and (max-width: 690px) {
    h1 {
        font-size: 2.4em;
    }

    h2 {
        font-size: 1.8em;
    }
}